<div class="page-body-wrapper full-page-wrapper auth-page">
  <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
    <div class="row w-100">
      <div class="col-lg-4 mx-auto">
        <h2 class="text-center mb-4" style="color: white;">Log in</h2>
        <div class="auto-form-wrapper">
          <form [formGroup]="loginForm" (ngSubmit)="login()" class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>User</mat-label>
              <input matInput placeholder="User" formControlName="email" type="email" autocomplete="false">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="**************" formControlName="password" type="password" autocomplete="false">
            </mat-form-field>
            <div class="form-group">
              <button *ngIf="!loading" [disabled]="loginForm.invalid"  mat-raised-button color="primary" type="submit" class="width-100">Log in</button>
              <button *ngIf="loading" [disabled]="true"  mat-raised-button color="primary" type="button" class="width-100">
              <i class="fa fa-spin fa-sync"></i>
                   Wait...
              </button>
            </div>
            <div class="text-block text-center my-3">
              <span class="text-small font-weight-semibold">No registered yet? </span>
              <br>
              <a routerLink="/register" class="text-black text-small">Create an account</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
