
<div class="page-body-wrapper full-page-wrapper auth-page">
  <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
    <div class="row w-100">
      <div class="col-lg-4 mx-auto">
        <h2 class="text-center mb-4">Register</h2>
        <div class="auto-form-wrapper">
          <form [formGroup]="registerForm" (ngSubmit)="createUser()">
            <mat-form-field class="example-full-width">
              <mat-label>User</mat-label>
              <input matInput placeholder="Name" formControlName="name" type="text"  autocomplete="false">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" formControlName="email" type="email"  autocomplete="false">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" formControlName="password" type="password" autocomplete="false">
            </mat-form-field>
            <div class="form-group">
              <button *ngIf="!loading" [disabled]="registerForm.invalid"  mat-raised-button color="primary" type="submit" class="width-100">Create</button>
              <button *ngIf="loading" [disabled]="true"  mat-raised-button color="primary" type="button" class="width-100"></button>
            </div>
            <div class="text-block text-center my-3">
              <span class="text-small font-weight-semibold">you have an account already?</span>
              <br>
              <a routerLink="/login" class="text-black text-small">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
