<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <p class="card-description">
          Please set the Amount and Type
        </p>
        <form [formGroup]="incomeForm" (ngSubmit)="save()">

          <div class="form-group">
            <label>Description</label>
            <input type="text"
                   class="form-control"
                   placeholder="Description"
                   formControlName="description"
                   name="description">
          </div>

          <div class="form-group">
            <label>Amount</label>
            <input type="number"
                   class="form-control"
                   placeholder="amount"
                   formControlName="amount"
                   name="amount">
            <p>
              Amount must be positive
            </p>
          </div>

          <div class="form-group">
            <label>Type</label>
            <br>
            <button *ngIf="type === 'income'" (click)="type = 'outcome'" type="button" class="btn btn-primary btn-block">Income</button>
            <button *ngIf="type === 'outcome'"  (click)="type = 'income'" type="button" class="btn btn-warning btn-block">Outcome</button>
          </div>

          <hr>
          <button type="submit" class="btn btn-success mr-2"
                  [disabled]="incomeForm.invalid"
                  *ngIf="!loading">
            <i class="fa fa-save"></i>
            Adding
          </button>
          <button type="submit" class="btn btn-success mr-2"
                  [disabled]="true"
                  *ngIf="loading">
            <i class="fa fa-spin fa-sync"></i>
            Saving...
          </button>
          <button type="reset" class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

