<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Details</h4>

        <table class="table">
          <thead>
          <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Type</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let item of incomeOutcome ">
            <td> {{ item.description }} </td>
            <td> {{ item.amount | currency }} </td>
            <td [class.text-success]=" item.type === 'income'"
                [class.text-danger]="  item.type === 'outcome'">
              {{ item.type }}
            </td>
            <td>
              <button type="button" class="btn btn-danger"
                      (click)="delete( item.uid )">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>

        </table>


      </div>
    </div>
  </div>
</div>

