<footer class="footer">
  <div class="container-fluid clearfix">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Rights Reserved © 2020
        <a href="http://fernando-herrera.com" target="_blank">Armando Rodriguez</a>.</span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Created from scratch
        <i class="fa fa-heart text-danger"></i>
      </span>
  </div>
</footer>
